table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
	background-repeat: no-repeat;
	background-position: right center;
}